/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */
.tab-bar .tab,
.tree-view,
body,
html {
	font-family: 'Fira Sans';
	font-size: 11px;
}

.atom-dock-inner.left li.tab.sortable.active {
	display: none;
}

.list-tree {
	.status-modified {
		color: #d79921;

		&.selected {
			color: #d79921;
		}

		> .list-item {
			color: #d79921;
		}
	}

	.status-ignored {
		opacity: 0.5;

		.status-ignored {
			opacity: 1;
		}
	}

	.status-added {
		color: #98971a;

		 > div.list-item,
		 > span,
		&.status-modified,
		&:not(.status-modified) {
			color: #98971a;
		}
	}
}

atom-text-editor {
	.lines .line.cursor-line,
	.syntax--string.syntax--quoted,
	.syntax--string.syntax--regexp {
		-webkit-font-feature-settings: 'liga' off, 'calt' off;
	}

	.syntax--comment {
		.syntax--link {
			color: #83a598;
		}

		.syntax--underline {
			text-decoration: underline;
		}
	}

	.syntax--punctuation.syntax--definition.syntax--tag.syntax--tt,
	.syntax--punctuation.syntax--section.syntax--tag.syntax--twig,
	.syntax--punctuation.syntax--section.syntax--tag.syntax--volt{
		color: #b16286;
	}
}
