// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "octicon-utf-codes";

.php-ide-serenata-autocompletion-strike, .php-ide-serenata-autocompletion-strike .word {
    text-decoration: line-through;
}

.php-ide-serenata-autocompletion-suggestion {
    &.php-ide-serenata-autocompletion-has-additional-icons {
        .icon-container {
            padding-right: 0;
        }
    }

    .left-label {
        .icon {
            float: left;
            padding-top: 0.25em;
            padding-left: 0.5em;
            padding-right: 2em;
            margin-right: 0.75em;
        }
    }

    .right-label {
        float: right;
    }
}

.php-ide-serenata-refactoring-strikethrough {
    text-decoration: line-through;
}

.php-ide-serenata-refactoring-multi-selection-view {
    .list-item {

    }

    .checkbox {
        font-size: x-small;
    }

    .text-line {
        // margin-top: 0.5em;
    }

    .button-bar {
        // margin-top: 0.5em;

        .clear-float {
            clear: both;
        }
    }
}

.php-ide-serenata-refactoring-extract-method {
    .section-body, .form-control, .control-label, .control-group, .controls {
        width: 100%;
    }
    .preview-area {
        atom-text-editor .editor-contents--private {
            max-height: 400px !important;
        }
    }
    // Should change to reflect the padding of the theme instead of hardcoded.
    .block {
        margin-top: 4px;
    }
    .pull-right {
        .inline-block {
            margin-left: 9px;
        }
    }

    .checkbox {
        // Removing any extra margining to the checkboxes (e.g. Atom Material)
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .settings-view .section-body {
        margin-top: 0px;
    }

    .button-bar {
        .clear-float {
            clear: both;
        }
    }
}

.php-ide-serenata-code-lens {
    // a {
    //     &:extend(.badge);
    //     &:extend(.badge-small);
    // }

    display: inline-block;
}

.php-ide-serenata-code-lens-wrapper {
}

.datatip-marked-container h1{
    font-size: 14px;
}

.datatip-marked-container h4{
    font-size: 12px;
}
